body {
    border: 0;
    box-shadow: none;
    padding: 0;
    margin: 0;
    color: white;
}
.title{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding: 10px 0px;
}
.titles{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.titles h2{
    font-size: 28px;
    margin-bottom: 0px;
}

.titles button{
    font-size: 17px;
}
.application{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100vh;
    background-color: #181818;
}
.question{
    width: 80%;
    max-width: 450px;
    background-color: #212121;
    padding: 20px;
    border-radius: 7px;
}

.buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#noWithBorder{
    transition: 0.2s all;
}

.area{
    display: flex;
    flex-direction: column;
    gap:10px
}

input{
    padding: 15px 10px;
    border-radius: 7px;
    border: none;
    background-color: #00000030;
    color: white;
    font-size: 20px;
    transition: 0.2s all;
}

button{
    right: 0;
    top: 0;
    border: none;
    background: #00000030;
    padding: 10px 15px;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.05s;
    color: white;
    font-size: 22px;
    font-weight: bold;
    transition: all 0.3s;
}
button:hover{
    background: #000000;
}